#contact {
    background-image: url(../assets/images/Background_Contacts.png);
    background-position: center;
    background-size: cover;
    padding-block: 128px 200px;

    &>div:nth-child(2) {
        gap: 16px;
        justify-content: center;
    }

    .link-card {
        background-color: var(--gray-300);
        border-radius: 8px;
        padding: 20px;

        display: flex;
        gap: 12px;

        span {
            flex-grow: 1;
        }

        width: 400px;
        align-items: center;

        border: 1px solid var(--gray-300);
        cursor: pointer;

        &:hover {
            border-color: var(--blue);
        }

        .media-logo {
            height: 28px;
            width: 28px;
        }
    }

    .instagram {
        i {
            background-image: url(../assets/icons/InstagramLogo.svg);
        }

        &:hover {
            i {
                background-image: url(../assets/icons/InstagramLogo-hover.svg);
            }
        }
    }

    .linkedin {
        i {
            background-image: url(../assets/icons/LinkedinLogo.svg);
        }

        &:hover {
            i {
                background-image: url(../assets/icons/LinkedinLogo-hover.svg);
            }
        }
    }
        
    .github {
        i {
            background-image: url(../assets/icons/GithubLogo.svg);
        }

        &:hover {
            i {
                background-image: url(../assets/icons/GithubLogo-hover.svg);
            }
        }
    }
        
    .email {
        i {
            background-image: url(../assets/icons/EnvelopeSimple.svg);
        }

        &:hover {
            i {
                background-image: url(../assets/icons/EnvelopeSimple-hover.svg);
            }
        }
    }
}