#services {
    background-color: var(--gray-100);
    padding-block: 88px 120px;

    &>header {
        margin-bottom: 56px;
    }
    
    &>div:nth-child(2) {
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .card {
        display: grid;

        padding: 20px;
        border-radius: 12px;
        border: 2px solid var(--gray-200);

        img {
            width: 48px;
            height: 48px;
            margin-bottom: 20px;
        }

        strong {
            font: var(--title-sm);
            color: var(--gray-600);
            margin-bottom: 8px;
        }
        
        cursor: pointer;
        transition: transform .6s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}