.text-red {
    color: var(--red);
}

.text-purple {
    color: var(--purple);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.subtitle {
    font: var(--subtitle);
}

.title-md {
    font: var(--title-md);
}

.text-md {
    font: var(--text-md);
}

.vh-100{
    min-height: 100vh;
/* 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center; */
}