.text-red {
    color: var(--red);
}

.text-purple {
    color: var(--purple);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.subtitle {
    font: var(--subtitle);
}

.title-md {
    font: var(--title-md);
}

.text-md {
    font: var(--text-md);
}